/* Marca donde inicia la pagina y el color de fondo que tiene */
body,html {
    margin-top: -0.7%;
    margin-left: 0px;
    background-color: burlywood;

}

.encabezado {
    padding: 1%;
    
}

.titulo {
    position: relative;
    top: 50%;
}

.texto-centrado {
    text-align: center;

}

.texto-marron {
    color: brown;
}

hr {
    border-bottom: 0px;
    border-color: black;
    width: 100vw;
}

hr.principal {
    position: relative;
    bottom: 30px;
}
