/* Marca donde inicia la pagina y el color de fondo que tiene */
body,html {
    margin-top: -0.7%;
    margin-left: 0px;
    background-color: burlywood;

}

/* Encabezado de la pagina */
.encabezado {
    padding: 1%;
    
}

/* Centrado de un texto  */
.texto-centrado {
    text-align: center;

}

/* Color de texto marron */
.texto-marron {
    color: brown;
}

/* Lineas de separacion*/

hr {
    border-bottom: 0px;
    border-color: black;
    width: 100vw;
    position: relative;
    bottom: 30px;
}

a {
    position: relative;
    left: -10px;
}
.carta {
    position: relative;
    left: 1%;
}

.cafe {
    display: inline;
    position: relative;
    left: 40%;
}

.contacto {
    display: inline;
    position: relative;
    right: -70%;
    bottom: -200px;
}