/* Marca donde inicia la pagina y el color de fondo que tiene */
body,html {
    margin-top: -0.7%;
    margin-left: 0px;
    background-color: burlywood;
    

}

/* Encabezado de la pagina */
.encabezado {
    padding: 1%;
    color: brown;
    
}

/* Lineas de separacion*/

hr.principal {
    border-bottom: 0px;
    border-color: black;
    width: 100vw;
    position: relative;
    top: 26px;
}

hr {
    border-bottom: 0px;
    border-color: black;
    width: 100vw;
}

.texto-productos {
    color: brown;
    font-weight: bold;
    font-size: 20px;
}


.carta {
    position: relative;
    left: 1%;
}

.cafe {
    display: inline;
    position: relative;
    left: 40%;
}

.contacto {
    display: inline;
    position: relative;
    right: -70%; border-bottom: 0px;
    font-style: italic;
}

.titulo-pagina {
    text-align: center;
    position: relative;
    top: 30px;
}


div.productos {
    display: inline-block;
    width: 50vw;
    height: 100vw;
    text-align: center;
    border-style:solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-width: thin;
    /* background-color: wheat; */
}

footer {
    width: 100vw;
    background-color: wheat;
    width: 100%;
    height: calc(300px - 30px);
    
}